@{
    ViewData["Title"] = "Create";
}

@model Assignment4.Models.NewConsumptionRecord

    <div class="container bg-white">
        <div class="row">
            <div class="col">
                <div class="pb-2 mt-4 mb-2 border-bottom">
                    <h1 class="text-center">Create Record</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center pt-3">
            <div class="col-9">
                <form asp-controller="Create" asp-action="CreateConsumptionRecord" method="post">
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-3">
                            <label asp-for="SectorName">Sector</label>
                            <select asp-for="SectorName" class="form-control">
                                <option selected>Choose...</option>
                                <option value="Commercial">Commercial</option>
                                <option value="Electric Power">Electric Power</option>
                                <option value="Industrial">Industrial</option>
                                <option value="Residential">Residential</option>
                                <option value="Transportation">Transportation</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="SourceName">Energy Source</label>
                            <select asp-for="SourceName" class="form-control">
                                <option selected>Choose...</option>
                                <option value="Biomass Energy">Biomass Energy</option>
                                <option value="Coal">Coal</option>
                                <option value="Geothermal Energy">Geothermal Energy</option>
                                <option value="Natural Gas">Natural Gas</option>
                                <option value="Solar Energy">Solar Energy</option>
                                <option value="Total Energy">Total Energy</option>
                                <option value="Total Fossil Fuels">Total Fossil Fuels</option>
                                <option value="Total Petroleum">Total Petroleum</option>
                                <option value="Total Primary Energy">Total Primary Energy</option>
                                <option value="Total Renewable Energy">Total Renewable Energy</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-3">
                            <label asp-for="Year">Year</label>
                            <input type="text" class="form-control" asp-for="Year">
                        </div>
                        <div class="form-group col-md-4">
                            <label asp-for="Value">Energy Consumption (in trillion BTUs)</label>
                            <input type="text" class="form-control" asp-for="Value">
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <button type="submit" class="btn btn-primary text-center">Create</button>
                    </div>
                </form>
                <br />
                <br />
            </div>
        </div>
    </div>