@{
    ViewData["Title"] = "Delete Confirmation";
}

<div class="container bg-white">
    <div class="row justify-content-center pt-3">
        <div class="col-9 pb-2 mt-4 mb-2 border-bottom">
            <h2 class="text-center">Delete Confirmation</h2>
        </div>
    </div>

    <div class="row justify-content-center pt-3">
        <div class="col-9 pb-2 mt-4 mb-2">
            <h2 class="text-center">Record Successfully Deleted</h2>
        </div>
    </div>




    <br />
    <p align="center">If you would like to delete another record, please return to the <a asp-controller="Explore" asp-action="Index">Explore page</a>.</p>
    <br />
    

</div>
