@{
    ViewData["Title"] = "About Us";
}

<div class="container bg-white">
    <div class="row justify-content-center pt-3 border-bottom">
        <div class="col-9 pb-2 mt-4 mb-2">
            <h2 class="text-center">About Us</h2>
        </div>
    </div>

    <div class="row pt-4">
        <div class="card-deck">
            <div class="card text-center">
                <img class="card-img-top" src="img/mike.jpg" alt="Mike Borkland">
                <div class="card-body">
                    <h5 class="card-title text-center">Michael Borkland</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://www.linkedin.com/in/michael-borkland/" target="_blank" class="btn btn-primary">LinkedIn</a></li>
                        <li class="list-group-item">Michael is currently working as a Cloud Automation Engineer at Citi. Michael has a strong passion for technology, especially with how it relates to achieving business objectives. Michael enjoys self-study in subjects of interest including imperative and functional programming, algorithms, data structures, and software engineering.</li>
                        <li class="list-group-item">MS, Business Analytics and Information Systems<br />Expected May 2021</li>
                        <li class="list-group-item">Assignment 3: Helped create navbar, data model, home page and "About Us" page. Created table and forms for master-detail pages.</li>
                        <li class="list-group-item">Assignment 4: Implemented startup code to pre-populate database with energy data via API. Helped with main functionality and data validation for create page. Added chart to detail pages. Made modifications to About Us page.</li>
                    </ul>
                </div>
            </div>
            <div class="card text-center">
                <img class="card-img-top" src="img/james.jpg" alt="James Long">
                <div class="card-body">
                    <h5 class="card-title text-center">James Long</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://www.linkedin.com/in/jameslong595/" target="_blank" class="btn btn-primary">LinkedIn</a></li>
                        <li class="list-group-item">James is currently working as a Business Analyst at Citi. James is an IT Engineering veteran and author of an advanced technology book published by Cisco. James transitioned into Business Operations for several years and now focuses on Business Analysis, Software Development, and Project Management. James holds a B.S. in Business Administration from the University of Florida as well as numerous technical and professional certifications.</li>
                        <li class="list-group-item">MS, Business Analytics and Information Systems<br />Expected December 2021</li>
                        <li class="list-group-item">Assignment 3: created carousel on home page, made text responsive in various places, created delete page, miscellaneous modifications to all pages</li>
                        <li class="list-group-item">Assignment 4: created initial MVC project, adapted Assignment 3 pages to MVC views, created initial data model classes, enabled Entity Framework and executed initial migration, coded Explore and Details controllers and views, overhauled About Us controller and view, identified all remaining non-responsive elements and made them responsive, ensured UI consistency all on pages</li>
                    </ul>
                </div>
            </div>
            <div class="card text-center">
                <img class="card-img-top" src="img/aston.jpg" alt="Aston Wright">
                <div class="card-body">
                    <h5 class="card-title text-center">Aston Wright</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://www.linkedin.com/in/aston-wright-1a324a121/" target="_blank" class="btn btn-primary">LinkedIn</a></li>
                        <li class="list-group-item">Aston is currently working as a Business Analyst at the University of South Florida. Aston is working as a Graduate Assistant while doing analytics for the Academic Success Center. Aston is extremely interested in data science and sports. Aston hopes to work with NBA athletes in the future to improve their performance.</li>
                        <li class="list-group-item">MS, Business Analytics and Information Systems<br />Expected July 2021</li>
                        <li class="list-group-item">Assignment 3: Made changes to the about us page by updating Bio's and adding a form.</li>
                        <li class="list-group-item">Assignment 4: Worked on the Update and Delete functionality of the CRUD operations for the website. This included the views, controllers and models related to these operation. Also tried to implement an interface and Service that would hangle unique request from the Database. Since these request was not apart of the Assignment core, they were commented out because of lack of time to complete. Esured the navigation from the CRUD pages to the Explore and Details pages were working properly. Lastly, Updated personal information on About us page.  </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<div class="container bg-white" align="center">
    <br />
    <hr>
    <br />
    <h2>Technical Overview</h2>
    <p>This project is based on the Model-View-Class (MVC) framework. The code is written in C#, Entity Framework Code-First, and LINQ. We consume a variety of time-series data via RESTful API provided by the U.S. Energy Information Administration. All data are stored persistently in an Azure database. The application is hosted as an Azure App Service.</p>
</div>
<div class="container bg-white" align="center">
    <br />
    <hr>
    <br />
    <h2>Data Model</h2>
    <img class="img-custom img-fluid" max-width="100%" src="img/ERD.png" alt="Data Model Diagram">
</div>
<div class="container bg-white">
    <br />
    <hr />
    <br />
    <h2 align="center">Git Log Output</h2>
    <p align="center">This section presents the output of the following terminal command for each group member.<pre align="center">"git log --author=$USERNAME --pretty=tformat: --numstat"</pre></p>
    <div class="row justify-content-center">
        <div class="col-4">
            <p align="center"><b>Michael</b></p>
            <p><pre>
94      7       Views/AboutUs/Index.cshtml
22      4       Views/AboutUs/Index.cshtml
0       1       Models/CreationConfirmation.cs
2       1       Views/Catalog/Index.cshtml
0       4       Views/Details/Index.cshtml
25      11      Controllers/CreateController.cs
10      0       Models/CreationConfirmation.cs
52      41      Views/Create/Index.cshtml
57      0       Views/Details/Index.cshtml
4       3       Views/Shared/_Layout.cshtml
20776   0       wwwroot/lib/chart/Chart.bundle.js
15      6       Controllers/CreateController.cs
1       5       Models/AnnualEnergyConsumption.cs
10      0       Models/NewConsumptionRecord.cs
1       8       Startup.cs
26      24      Views/Create/Index.cshtml
0       2       Startup.cs
2       2       appsettings.json
4       3       Models/AnnualEnergyConsumption.cs
4       0       Models/EnergySource.cs
4       0       Models/Sector.cs
174     0       Startup.cs
82      82      Views/Explore/Index.cshtml
3       3       Views/Shared/_Layout.cshtml
2       2       appsettings.json
4       4       wwwroot/css/site.css
            </pre></p>
        </div>
        <div class="col-4">
            <p align="center"><b>James</b></p>
            <p><pre>
1	1	Views/AboutUs/Index.cshtml
-	-	wwwroot/img/DataModel.JPG
-	-	wwwroot/img/ERD.png
3	1	DataModels/Catalog/EnergyIndexListingModel.cs
1	1	Views/AboutUs/Index.cshtml
2	3	Views/Home/Index.cshtml
2	2	Views/Details/Index.cshtml
1	1	Views/Explore/Index.cshtml
1	1	Views/Shared/_Layout.cshtml
1	1	Views/Catalog/Index.cshtml
37	37	Controllers/CatalogController.cs
15	15	DataModels/Catalog/EnergyIndexListingModel.cs
11	11	DataModels/Catalog/EnergyIndexModel.cs
17	17	Models/IAnnual.cs
0	12	Models/NewConsumptionRecord.cs
56	56	Services/EnergyService.cs
0	12	Models/NewConsumptionRecord.cs
33	58	Views/AboutUs/Index.cshtml
4	4	Views/Details/Index.cshtml
13	5	Views/Privacy/Index.cshtml
2	2	Views/Shared/_Layout.cshtml
-	-	wwwroot/img/USFmap.jpg
13	11	Controllers/CreateController.cs
44	0	Controllers/DetailsController.cs
24	9	Controllers/ExploreController.cs
1	2	DataAccess/Assignment4DbContext.cs
3	2	Models/AnnualEnergyConsumption.cs
5	3	Models/NewConsumptionRecord.cs
18	0	Models/SectorSourceDetails.cs
17	0	Models/SectorTotals.cs
4	1	Startup.cs
100	54	Views/Create/Index.cshtml
58	0	Views/Details/Index.cshtml
39	73	Views/Explore/Index.cshtml
1	1	wwwroot/css/site.css
-	-	wwwroot/img/aston.jpg
-	-	wwwroot/img/james.jpg
-	-	wwwroot/img/mike.jpg
13	11	Controllers/CreateController.cs
44	0	Controllers/DetailsController.cs
24	9	Controllers/ExploreController.cs
1	2	DataAccess/Assignment4DbContext.cs
3	2	Models/AnnualEnergyConsumption.cs
5	3	Models/NewConsumptionRecord.cs
18	0	Models/SectorSourceDetails.cs
17	0	Models/SectorTotals.cs
4	1	Startup.cs
100	54	Views/Create/Index.cshtml
58	0	Views/Details/Index.cshtml
39	73	Views/Explore/Index.cshtml
1	1	wwwroot/css/site.css
3	18	appsettings.json
17	2	appsettings.json
7	3	Assignment4.csproj
10	0	Controllers/CreateController.cs
10	0	Controllers/DeleteController.cs
11	1	Controllers/ExploreController.cs
10	0	Controllers/UpdateController.cs
22	0	DataAccess/Assignment4DbContext.cs
92	0	Migrations/20201108220807_InitialCreate.Designer.cs
85	0	Migrations/20201108220807_InitialCreate.cs
90	0	Migrations/Assignment4DbContextModelSnapshot.cs
19	0	Models/AnnualEnergyConsumption.cs
13	0	Models/EnergySource.cs
13	0	Models/Sector.cs
3	0	Program.cs
15	4	Startup.cs
3	1	appsettings.json
18	0	Controllers/CreateController.cs
18	0	Controllers/DeleteController.cs
18	0	Controllers/UpdateController.cs
64	64	Views/AboutUs/Index.cshtml
4	2	Views/Create/Index.cshtml
4	2	Views/Delete/Index.cshtml
12	17	Views/Explore/Index.cshtml
13	5	Views/Home/Index.cshtml
6	3	Views/Privacy/Index.cshtml
47	38	Views/Shared/_Layout.cshtml
3	1	Views/Update/Index.cshtml
0	55	wwwroot/css/form.css
0	14	wwwroot/css/image.css
174	116	wwwroot/css/site.css
-	-	wwwroot/img/energy-bg.jpg
-	-	wwwroot/img/energy-bg.png
-	-	wwwroot/img/usf-logo-png-2.png
-	-	wwwroot/img/usf-logo.jpg
1	14	wwwroot/js/site.js
2	0	README.md
12	0	Assignment4.csproj
25	0	Assignment4.sln
18	0	Controllers/AboutUsController.cs
18	0	Controllers/ExploreController.cs
21	0	Controllers/HomeController.cs
18	0	Controllers/PrivacyController.cs
28	0	Program.cs
27	0	Properties/launchSettings.json
59	0	Startup.cs
105	0	Views/AboutUs/Index.cshtml
61	0	Views/Create/Index.cshtml
59	0	Views/Delete/Index.cshtml
96	0	Views/Explore/Index.cshtml
60	0	Views/Home/Index.cshtml
6	0	Views/Privacy/Index.cshtml
61	0	Views/Shared/_Layout.cshtml
59	0	Views/Update/Index.cshtml
2	0	Views/_ViewImports.cshtml
3	0	Views/_ViewStart.cshtml
9	0	appsettings.Development.json
12	0	appsettings.json
55	0	wwwroot/css/form.css
14	0	wwwroot/css/image.css
164	0	wwwroot/css/site.css
-	-	wwwroot/favicon.ico
-	-	wwwroot/img/DataModel.JPG
-	-	wwwroot/img/USFmap.jpg
-	-	wwwroot/img/aston.jpg
-	-	wwwroot/img/energy-bg.png
-	-	wwwroot/img/james.jpg
-	-	wwwroot/img/mike.jpg
-	-	wwwroot/img/usf-logo-png-2.png
-	-	wwwroot/img/usf-logo.jpg
14	0	wwwroot/js/site.js
22	0	wwwroot/lib/bootstrap/LICENSE
3872	0	wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css
1	0	wwwroot/lib/bootstrap/dist/css/bootstrap-grid.css.map
7	0	wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css
1	0	wwwroot/lib/bootstrap/dist/css/bootstrap-grid.min.css.map
326	0	wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css
1	0	wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.css.map
8	0	wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css
1	0	wwwroot/lib/bootstrap/dist/css/bootstrap-reboot.min.css.map
10263	0	wwwroot/lib/bootstrap/dist/css/bootstrap.css
1	0	wwwroot/lib/bootstrap/dist/css/bootstrap.css.map
7	0	wwwroot/lib/bootstrap/dist/css/bootstrap.min.css
1	0	wwwroot/lib/bootstrap/dist/css/bootstrap.min.css.map
7031	0	wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js
1	0	wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.js.map
7	0	wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js
1	0	wwwroot/lib/bootstrap/dist/js/bootstrap.bundle.min.js.map
4418	0	wwwroot/lib/bootstrap/dist/js/bootstrap.js
1	0	wwwroot/lib/bootstrap/dist/js/bootstrap.js.map
7	0	wwwroot/lib/bootstrap/dist/js/bootstrap.min.js
1	0	wwwroot/lib/bootstrap/dist/js/bootstrap.min.js.map
12	0	wwwroot/lib/jquery-validation-unobtrusive/LICENSE.txt
432	0	wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js
5	0	wwwroot/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js
22	0	wwwroot/lib/jquery-validation/LICENSE.md
1158	0	wwwroot/lib/jquery-validation/dist/additional-methods.js
4	0	wwwroot/lib/jquery-validation/dist/additional-methods.min.js
1601	0	wwwroot/lib/jquery-validation/dist/jquery.validate.js
4	0	wwwroot/lib/jquery-validation/dist/jquery.validate.min.js
36	0	wwwroot/lib/jquery/LICENSE.txt
10872	0	wwwroot/lib/jquery/dist/jquery.js
2	0	wwwroot/lib/jquery/dist/jquery.min.js
1	0	wwwroot/lib/jquery/dist/jquery.min.map
63	0	.gitattributes
340	0	.gitignore
            </pre></p>
        </div>
        <div class="col-4">
            <p align="center"><b>Aston</b></p>
            <p><pre>
37      37      Controllers/CatalogController.cs
38      2       Controllers/DeleteController.cs
15      15      DataModels/Catalog/EnergyIndexListingModel.cs
11      11      DataModels/Catalog/EnergyIndexModel.cs
14      0       Models/DeleteRecord.cs
1       1       Views/AboutUs/Index.cshtml
1       1       Views/Catalog/Index.cshtml
26      0       Views/Delete/DelConfirm.cshtml
33      38      Views/Delete/Index.cshtml
35      1       Controllers/UpdateController.cs
1       1       DataModels/Catalog/EnergyIndexListingModel.cs
1       1       Models/IAnnual.cs
14      0       Models/UpdateRecord.cs
3       1       Services/EnergyService.cs
85      51      Views/Update/Index.cshtml
40      0       Controllers/CatalogController.cs
16      0       DataModels/Catalog/EnergyIndexListingModel.cs
12      0       DataModels/Catalog/EnergyIndexModel.cs
1       1       Models/AnnualEnergyConsumption.cs
19      0       Models/IAnnual.cs
66      0       Services/EnergyService.cs
1       0       Startup.cs
1       0       Views/Catalog/Index.cshtml
2       2       appsettings.json
            </pre></p>
        </div>
    </div>
</div>
<div class="container bg-white" align="center">
    <br />
    <hr>
    <br />
    <h6>Visit <a href="https://github.com/JamesLong595/Assignment4" target="_blank">our GitHub repo</a> for the source code.</h6>
    <br />
</div>