@{
    ViewData["Title"] = "About Us";
}

<div class="container bg-white">
    <div class="row justify-content-center pt-3 border-bottom">
        <div class="col-9 pb-2 mt-4 mb-2">
            <h2 class="text-center">About Us</h2>
        </div>
    </div>

    <div class="row pt-4">
        <div class="card-deck">
            <div class="card text-center">
                <img class="card-img-top" src="img/mike.jpg" alt="Mike Borkland">
                <div class="card-body">
                    <h5 class="card-title text-center">Michael Borkland</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://www.linkedin.com/in/michael-borkland/" target="_blank" class="btn btn-primary">LinkedIn</a></li>
                        <li class="list-group-item">Michael is currently working as a Cloud Automation Engineer at Citi. Michael has a strong passion for technology, especially with how it relates to achieving business objectives. Michael enjoys self-study in subjects of interest including imperative and functional programming, algorithms, data structures, and software engineering.</li>
                        <li class="list-group-item">MS, Business Analytics and Information Systems<br />Expected May 2021</li>
                        <li class="list-group-item">Assignment 3: Helped create navbar, data model, home page and "About Us" page. Created table and forms for master-detail pages.</li>
                        <li class="list-group-item">Assignment 4: </li>
                        <li class="list-group-item">Git Log: </li>
                    </ul>
                </div>
            </div>
            <div class="card text-center">
                <img class="card-img-top" src="img/james.jpg" alt="James Long">
                <div class="card-body">
                    <h5 class="card-title text-center">James Long</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://www.linkedin.com/in/jameslong595/" target="_blank" class="btn btn-primary">LinkedIn</a></li>
                        <li class="list-group-item">James is currently working as a Business Analyst at Citi. James is an IT Engineering veteran and author of an advanced technology book published by Cisco. James transitioned into Business Operations for several years and now focuses on Business Analysis, Software Development, and Project Management. James holds a B.S. in Business Administration from the University of Florida as well as numerous technical and professional certifications.</li>
                        <li class="list-group-item">MS, Business Analytics and Information Systems<br />Expected December 2021</li>
                        <li class="list-group-item">Assignment 3: created carousel on home page, made text responsive in various places, created delete page, miscellaneous modifications to all pages</li>
                        <li class="list-group-item">Assignment 4: </li>
                        <li class="list-group-item">Git Log: </li>
                    </ul>
                </div>
            </div>
            <div class="card text-center">
                <img class="card-img-top" src="img/aston.jpg" alt="Aston Wright">
                <div class="card-body">
                    <h5 class="card-title text-center">Aston Wright</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://www.linkedin.com/in/aston-wright-1a324a121/" target="_blank" class="btn btn-primary">LinkedIn</a></li>
                        <li class="list-group-item">Aston is currently working as a Business Analyst at the University of South Florida. Aston is working as a Graduate Assistant while doing analytics for the Academic Success Center. Aston is extremely interested in data science and sports. Aston hopes to work with NBA athletes in the future to improve their performance.</li>
                        <li class="list-group-item">MS, Business Analytics and Information Systems<br />Expected July 2021</li>
                        <li class="list-group-item">Assignment 3: Made changes to the about us page by updating Bio's and adding a form.</li>
                        <li class="list-group-item">Assignment 4: </li>
                        <li class="list-group-item">Git Log: </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<div class="container bg-white" align="center">
    <br />
    <hr>
    <br />
    <h2>Technical Overview</h2>
    <p>This project is based on the Model-View-Class (MVC) framework. The code is written in C#, Entity Framework Code-First, and LINQ. We consume a variety of time-series data via RESTful API provided by the U.S. Energy Information Administration. All data are stored persistently in an Azure database. The application is hosted as an Azure App Service.</p>
</div>
<div class="container bg-white" align="center">
    <br />
    <hr>
    <br />
    <h2>Data Model</h2>
    <img class="img-custom img-fluid" max-width="100%" src="img/DataModel.jpg" alt="Data Model Diagram">
</div>
<div class="container bg-white" align="center">
    <br />
    <hr>
    <br />
    <h6>Visit <a href="https://github.com/JamesLong595/Assignment4" target="_blank">our GitHub repo</a> for the source code.</h6>
    <br />
</div>