@{
    ViewData["Title"] = "About Us";
}

<div class="container bg-white">
    <div class="row justify-content-center pt-3 border-bottom">
        <div class="col-9 pb-2 mt-4 mb-2">
            <h2 class="text-center">About Us</h2>
        </div>
    </div>

    <div class="row pt-4">
        <div class="card-deck">
            <div class="card text-center">
                <img class="card-img-top" src="img/mike.jpg" alt="Mike Borkland">
                <div class="card-body">
                    <h5 class="card-title text-center">Michael Borkland</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://www.linkedin.com/in/michael-borkland/" target="_blank" class="btn btn-primary">LinkedIn</a></li>
                        <li class="list-group-item">Michael is currently working as a Cloud Automation Engineer at Citi. Michael has a strong passion for technology, especially with how it relates to achieving business objectives. Michael enjoys self-study in subjects of interest including imperative and functional programming, algorithms, data structures, and software engineering.</li>
                        <li class="list-group-item">MS, Business Analytics and Information Systems<br />Expected May 2021</li>
                        <li class="list-group-item">Assignment 3: Helped create navbar, data model, home page and "About Us" page. Created table and forms for master-detail pages.</li>
                        <li class="list-group-item">Assignment 4: Implemented startup code to pre-populate database with energy data via API. Helped with main functionality and data validation for create page. Added chart to detail pages. Made modifications to About Us page.</li>
                    </ul>
                </div>
            </div>
            <div class="card text-center">
                <img class="card-img-top" src="img/james.jpg" alt="James Long">
                <div class="card-body">
                    <h5 class="card-title text-center">James Long</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://www.linkedin.com/in/jameslong595/" target="_blank" class="btn btn-primary">LinkedIn</a></li>
                        <li class="list-group-item">James is currently working as a Business Analyst at Citi. James is an IT Engineering veteran and author of an advanced technology book published by Cisco. James transitioned into Business Operations for several years and now focuses on Business Analysis, Software Development, and Project Management. James holds a B.S. in Business Administration from the University of Florida as well as numerous technical and professional certifications.</li>
                        <li class="list-group-item">MS, Business Analytics and Information Systems<br />Expected December 2021</li>
                        <li class="list-group-item">Assignment 3: created carousel on home page, made text responsive in various places, created delete page, miscellaneous modifications to all pages</li>
                        <li class="list-group-item">Assignment 4: </li>
                    </ul>
                </div>
            </div>
            <div class="card text-center">
                <img class="card-img-top" src="img/aston.jpg" alt="Aston Wright">
                <div class="card-body">
                    <h5 class="card-title text-center">Aston Wright</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><a href="https://www.linkedin.com/in/aston-wright-1a324a121/" target="_blank" class="btn btn-primary">LinkedIn</a></li>
                        <li class="list-group-item">Aston is currently working as a Business Analyst at the University of South Florida. Aston is working as a Graduate Assistant while doing analytics for the Academic Success Center. Aston is extremely interested in data science and sports. Aston hopes to work with NBA athletes in the future to improve their performance.</li>
                        <li class="list-group-item">MS, Business Analytics and Information Systems<br />Expected July 2021</li>
                        <li class="list-group-item">Assignment 3: Made changes to the about us page by updating Bio's and adding a form.</li>
                        <li class="list-group-item">Assignment 4: </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <br />
</div>
<div class="container bg-white" align="center">
    <br />
    <hr>
    <br />
    <h2>Technical Overview</h2>
    <p>This project is based on the Model-View-Class (MVC) framework. The code is written in C#, Entity Framework Code-First, and LINQ. We consume a variety of time-series data via RESTful API provided by the U.S. Energy Information Administration. All data are stored persistently in an Azure database. The application is hosted as an Azure App Service.</p>
</div>
<div class="container bg-white" align="center">
    <br />
    <hr>
    <br />
    <h2>Data Model</h2>
    <img class="img-custom img-fluid" max-width="100%" src="img/ERD.png" alt="Data Model Diagram">
</div>
<div class="container bg-white">
    <br />
    <hr />
    <br />
    <h2 align="center">Git Log Output</h2>
    <p>This section presents the output of the following terminal command for each group member: git log --author=$USERNAME --pretty=tformat: --numstat</p>
    <div class="row justify-content-center">
        <div class="col-4">
            <b style="text-align: center">Michael:</b>
            <p><pre>
1       1       about-us.html
0       2       create.html
0       2       detail.html
1       2       explore.html
5       14      about-us.html
16      7       about-us.html
15      8       create.html
133     0       css/main.css
1       2       detail.html
1       2       explore.html
1       1       create.html
57      3       detail.html
8       0       about-us.html
10      2       explore.html
105     0       create.html
3       2       explore.html
-       -       .vs/slnx.sqlite
1       4       about-us.html
42      0       css/main.css
1       4       detail.html
139     0       explore.html
2       5       index.html
0       52      master.html
-       -       .vs/ISM6225_Assignment3/v16/.suo
5       1       .vs/VSWorkspaceState.json
-       -       .vs/slnx.sqlite
8       1       css/main.css
38      7       index.html
-       -       .vs/slnx.sqlite
-       -       img/energy-bg.jpg
15      1       index.html
-       -       .vs/slnx.sqlite
52      2       about-us.html
65      0       css/main.css
-       -       img/aston.jpg
-       -       img/james.jpg
-       -       img/mike.jpg
-       -       .vs/ISM6225_Assignment3/v16/.suo
1       1       .vs/VSWorkspaceState.json
-       -       .vs/slnx.sqlite
50      0       about-us.html
15      43      css/main.css
49      0       detail.html
-       -       img/usf-logo.jpg
14      27      index.html
49      0       master.html
-       -       .vs/ISM6225_Assignment3/v16/.suo
9       0       .vs/VSWorkspaceState.json
-       -       .vs/slnx.sqlite
0       35      nav.html
1025    0       .vs/ISM6225_Assignment3/config/applicationhost.config
-       -       .vs/ISM6225_Assignment3/v16/.suo
3       0       .vs/ProjectSettings.json
-       -       .vs/slnx.sqlite
62      1       index.html
35      0       nav.html
0       33      sample.html
22      4       Views/AboutUs/Index.cshtml
0       1       Models/CreationConfirmation.cs
2       1       Views/Catalog/Index.cshtml
0       4       Views/Details/Index.cshtml
25      11      Controllers/CreateController.cs
10      0       Models/CreationConfirmation.cs
52      41      Views/Create/Index.cshtml
57      0       Views/Details/Index.cshtml
4       3       Views/Shared/_Layout.cshtml
20776   0       wwwroot/lib/chart/Chart.bundle.js
15      6       Controllers/CreateController.cs
1       5       Models/AnnualEnergyConsumption.cs
10      0       Models/NewConsumptionRecord.cs
1       8       Startup.cs
26      24      Views/Create/Index.cshtml
0       2       Startup.cs
2       2       appsettings.json
4       3       Models/AnnualEnergyConsumption.cs
4       0       Models/EnergySource.cs
4       0       Models/Sector.cs
174     0       Startup.cs
82      82      Views/Explore/Index.cshtml
3       3       Views/Shared/_Layout.cshtml
2       2       appsettings.json
4       4       wwwroot/css/site.css
            </pre></p>
        </div>
        <div class="col-4">
            <b>James:</b>
            <p><pre>
Output goes here
            </pre></p>
        </div>
        <div class="col-4">
            <b>Aston:</b>
            <p><pre>
Output goes here
            </pre></p>
        </div>
    </div>
</div>
<div class="container bg-white" align="center">
    <br />
    <hr>
    <br />
    <h6>Visit <a href="https://github.com/JamesLong595/Assignment4" target="_blank">our GitHub repo</a> for the source code.</h6>
    <br />
</div>